.dialogs{
display: flex;
}
.logo{
  height: 50px;
    width: 50px;
    border-radius: 10px;                
}
.dialogs_items{
 margin-right: 2px;
 
}
.Dialogitem{
  margin: 15px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
}
.messages{
margin-left: 100px;
margin-top: 10px;
margin-bottom: 20px;
border-style: solid;
border-width: 1px;
}
.message{
 margin: 15px;
 margin-left: 20px;
 margin-right: 40px;
}
.active{
    color: gold;
}
.noActive{
 color: black;
}
.nickname{
  font-weight: 500;
  margin-top: 10px;
  margin-left: 5px;
}